div{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1eea00; 
  }
  
  ion-img{
    width: 40vw;
    height: auto;
  }